<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar nav-lef">
            <nav class="collapse bd-links">

                <div class="bd-toc-item">
                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="">
                              inicio
                            </a></li>
                    </ul>
                </div>
                <div class="bd-toc-item active">

                </div>
                <div class="bd-toc-item">

                </div>

            </nav>
        </div>
        <div class="col-12 col-md-3 col-xl-10 bd-content container-rid justify-content-center">
            <br>
            <br>
            <br>
            <h1>Productos</h1>
            <p>En el módulo PRODUCTOS podrá agregar nuevos productos al sistema, actualizar datos de los productos, 
                eliminar o actualizar la imagen de los productos, buscar productos en el sistema, ver todos los productos en almacén, 
                ver los productos más vendido y filtrar productos por categoría.</p>

            <router-outlet></router-outlet>

        </div>
    </div>
</div>








