
<div class="container mt-5">
    <div class="justify-content-md-center">
      <br>
      <br>
      <img class="rounded mx-auto d-block" src="../../../assets/img/box-svgrepo-com.svg"height="100"
      width="100" alt="">
      <h1 class="text-center">Productos</h1>
      <br>
      <p class="text-center">En el módulo PRODUCTOS podrá agregar nuevos productos al sistema, actualizar datos de los productos, 
        eliminar o actualizar la imagen de los productos, buscar productos en el sistema, ver todos los productos en almacén, 
        ver los productos más vendido y filtrar productos por categoría.</p>
        <br>
        <br>
    </div>
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <div class="card">
                  <div class="card-body text-center">
                      <span class="titulo">LISTADO DE PRODUCTOS</span>
                      <button class="btn btn-success float-end">NUEVO</button>
                  </div>
              </div>
          </div>
      </div>
  </div>