
.nav-lef{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../assets/img/FerreTic_Fondo.jpg');
    height: calc(100vh - 0rem);
}


.container-rid{
    background: #F5F5F5;
    height: calc(100vh - 0rem);
}