
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu " class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
      <div class="logo mt-5">
        <h1 class="text-white font-weight-bold pt-5 title-ferre">FerreTic</h1>
      </div>
      
      <div class="position-sticky pt-3 mt-5">
        
        <ul class="nav flex-column mt-5">
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="fas fa-house-user mr-1"></i> Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ventas">
              <i class="fas fa-shopping-cart  mr-1"></i> Ventas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="clientes">
              <i class="fas fa-user-friends  mr-1"></i> Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="productos">
              <i class="fas fa-boxes  mr-1"></i> Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="proveedores">
              <i class="fas fa-truck  mr-1"></i> Proveedores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="configuracion">
              <i class="fas fa-cog  mr-1"></i> Configuracion
            </a>
          </li>
          <div class="mt-5 p-5">
            <ng-container *ngIf="!userService.logeedIn(); else logeedIn">
              <li class="nav-item position-absolute bottom-0 start-0">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
              </li>
              <li class="nav-item position-absolute bottom-0 end-0">
                <a class="nav-link" routerLink="/registro" routerLinkActive="active">Sign up</a>
              </li>
            </ng-container>
            <ng-template #logeedIn>
              <li class="nav-item">
                <a class="nav-link position-absolute bottom-0 start-0" style="cursor: pointer;" (click)="userService.logout()">Logout</a>
              </li>
            </ng-template>
          </div>
          
        </ul>

      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      
      <nav class="full-box navbar navbar-light border-bottom" >
        
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="text" class="form-control" placeholder="Buscar.." aria-label="Search">
          </form>
  
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../assets/img/Avatar_Male_4.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
              <li><a class="dropdown-item" href="ventas">Nueva Venta</a></li>
              <li><a class="dropdown-item" href="configuracion">Configuracion</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="userService.logout()">Salir</a></li>
            </ul>
          </div>

          <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

      </nav>
        <router-outlet></router-outlet>
      

    </main>
  </div>
</div>