<div class="container">
    <div class="container-fluid justify-content-md-center mt-5">
      <img class="rounded mx-auto d-block mt-3 img" src="../../../assets/img/settings-svgrepo-com 1.svg" alt="">
      <h1 class="text-center h1">Configuracion</h1>
      <p class="text-center mt-3">En el módulo <strong>CONFIGURACION</strong> podrá registrar nuevos usuarios en el sistema ya sea un administrador o un cajero,
           también podrá ver la lista de usuarios registrados, buscar usuarios en el sistema, actualizar datos de otros usuarios y los suyos.</p>
    </div>

    <div class="container-fluid mt-5">


    </div>
</div>
